div{
	text-align: center;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-100px;
    margin-left:-100px;
    width:200px;
	height:200px;
}
.button{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-family: arial;
	background-color: #ff9800;
	border: none;
	padding: 12px 30px;
	border-radius: 10px;
	transition: all 0.5s;
	cursor: pointer;
}
.button span {
	cursor: pointer;
	display: inline-block;
  	position: relative;
  	transition: 0.5s;
}
.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -15px;
	transition: 0.5s;
}
.button:hover{
	background-color: #5EBAC7;
}
.button:hover span {
	padding-right: 20px;
}
.button:hover span:after {
	opacity: 1;
	right: 0;
}
body{
	background-image: url(background.jpg);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}
form{
	text-align: left;
	width: 500px;
	height: 500px;
	margin-top:-250px;
    margin-left:-250px;
	border: none;
	position:absolute;
	top:50%;
	left:50%;
	float: center;
}
